@model Actor

<form method="post" asp-action="Update">
    
       
        <input asp-for="Id" type="hidden" class="form-control form-control-user" placeholder="Enter Your Name...">
      
  

    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" type="text" class="form-control form-control-user" placeholder="Enter Your Name...">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bip"></label>
        <input asp-for="Bip" class="form-control" id="exampleInputPassword1" placeholder="Enter BIO ">
        <span asp-validation-for="Bip" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Update">
</form>